body {
   background-image: url('black.png');
}

h1 {
   color: rgb(253, 252, 252);
   font: 'Franklin Gothic Medium';
   font-size: 200%;
   text-align: center;
}

h2 {
   color: rgb(255, 255, 255);
   font: 'Arial';
   font-size: 150%;
   text-align: center;
}

h3 {
   color: rgb(255, 255, 255);
   font: 'Arial';
   font-size: 120%;
   text-align: center;
   margin: 0;
   padding: 0;
}

h4 {
   color: rgb(255, 255, 255);
   font: 'Franlin Gothic Medium';
   font-size: 200%;
   text-align: center;
}

p {
   color: rgb(255, 255, 255);
   margin: 0;
   padding: 0;
   text-align: center;
   font: bold 11px sans-serif;
   font-size: 100%;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 10px solid rgb(255, 255, 255);
}

ul {
   color: #ffffff;
   margin: 0;
   padding: 0;
   text-align: center;
   font: bold 11px sans-serif;
   font-size: 100%;
}

dd {
   color: rgb(253, 253, 253);
   padding: 10px;
   text-align: center;
   font: bold 11px sans-serif;
   font-size: 100%;
}

dt {
   color: rgb(255, 255, 255);
   text-align: center;
   font: bold 11px sans-serif;
   font-size: 100%;
}

.black{
   display: flex; 
   justify-content: center;
   align-items: center;
}

.white{
   display: flex;
   justify-content: center;
   align-items: center;
}

